%parallax_background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  margin: 0px;
  background-color: #000000;

  height: 500px;

  .text_area {
    position: sticky;
    position: -webkit-sticky;

    background: $transparent;
    width: 30vw;
    height: 100px;
    top:250px;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $basic-text-color;
  }

  .fixed-bg {
    height: 500px;
  }
}

.code {
  @extend %parallax_background;
  background-image: url('../../images/Cover.jpg');
}