// Kolory dla tekstu
$basic-text-color: #FFF;
$basic-header-color: #434343;
$bright-text-color: #D4D4D4;
$brightest-text-color: #FFF;
$menu-link-color: #3A3A3A;
$transparent: rgba(0,0,0,0.0);

// Kolor akcentu
$accent-color: rgba(69, 175, 150, 1);
$accent-color-transparent: rgba(69, 175, 150, 0.1);


// Ramki
$basic-border-color: rgba(255, 255, 255, 0.3);

// Boxy portfolio
$box-portfolio-background: fade($accent-color, 85%);

// Kolory tła
$basic-background: #FFF;
$alternative-background: #EEE;
$footer-background: #43444D;
$footer-copyright-background: #31323A;

// Opinie
$opinions-text: #A6A6A6;