%context_height {
  height: 500px;
}

#selected-section{
  box-shadow: -5px -15px 20px black;
}

#home {
  @extend %context_height;
  background-color: red;
}
#portfolio {
  @extend %context_height;
  background-color: blue;
}
