%context_height {
  height: 500px;
}

#home {
  @extend %context_height;
  background-color: red;
}
#portfolio {
  @extend %context_height;
  background-color: blue;
}
#contact{
  @extend %context_height;
  background-color: green;
}