@import 'header/menu_content';
@import 'header/mobile_menu';

/***      header     ***/
header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $basic-background;
  border-bottom: 1px solid $basic-border-color;
  box-shadow: 0 0 1px $basic-border-color;
  opacity: 80%;
  .navbar {

    margin: 0 100px;
    height: 100px;
    @media (max-width: $tablet) {
      margin: 0 30px;
    }
    .nav-logo {
      @extend %no-center-float;
      @extend %center-vertical;
      @include size(180px, 60px);
      z-index: 2;
      padding: 12px;
      a{
        img{
          background: url('../../images/logoAK.png') no-repeat;
          background-size: 100%;
        }
      }
    }
    #lang-select {
      @extend %float-right;
      @extend %center-vertical;
      z-index: 2;
      padding: 24px;
      #lang-pl {
        background: url('../../images/pl.png');
        background-position: center;
        background-size: cover;
      }
      #lang-ang {
        background: url('../../images/ang.png');
        background-position: center;
        background-size: cover;
      }
        .lang {
        border-radius: 10px;
        margin: 2px;
        @include size(40px, 30px);
        background-position: center;
        }
    }
  }
}

.main-menu-content {
  display: inline-block;
  @extend %float-right;
  @extend %center-vertical;
  #basic-menu {
    ul {
      @media (max-width: $phone) {
        display: none;
      }
      @extend %list-style-none;
      li {
        @extend %float-left;
        @extend %block;
        a {
          color: $menu-link-color;
          font-size: 20px;
          font-family: $font-family-secondary;
          font-weight: 400;
          padding: 10px 14px;
          line-height: 20px;
          @extend %basic-transition;
          &:hover {
            color: $accent-color;
          }

          @media (min-width: $phone) {
            display: inline-block;
            padding: 18px 22px;
          }
        }
        i {
          font-size: 14px;
        }
      }
    }
  }
  .mobile-open {
    border-bottom: none !important;
  }

  #button {
    background: url("../../images/images.png");
    background-position: center;
    background-size: cover;

    border-style: solid;
    border-width: 1px;
    @include size(60px, 50px);
    border-radius: 1px;

    @media (max-width: $phone) {
      display: inline-block;
    }
    @media (min-width: $phone) {
      display: none;
    }
  }
  #mobile-menu {
    width: 120px;
    z-index: -1;
    height: auto;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    background-color: $basic-background;
    top: 48px;
    right: 0px;
    padding: 4px 0px;
    ul {

      @media (min-width: $phone) {
        display: none;
      }
      li {
        width: 100%;

        @extend %basic-transition;
        &:hover {
          background-color: $menu-link-color;
          a {
            color: $accent-color;
          }
        }

        @extend %float-left;
        @extend %block;
        a {
          width: 100%;
          padding: 5px;
          color: $menu-link-color;
          font-size: 18px;
          font-family: $font-family-secondary;
          font-weight: 400;
          line-height: 20px;
          @extend %basic-transition;
          &:hover {
          }
          @media (min-width: $phone) {
            display: inline-block;
            padding: 18px 22px;
          }
        }
        i {
          font-size: 14px;
        }
      }
    }
  }
}