
 body {
  background-color: $accent-color;
 }

 header {
  z-index: 1000;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  background: $basic-background;
  border-bottom: 1px solid $basic-border-color;
  box-shadow: 0 0 1px $basic-border-color;
}
//  .navbar {
//    height: 120px;
//    $media;
//    $tablet;
//  {
//    height: 60px;
//  }
//  }
//}
//    .nav-logo {
//      .float-left;
//      .center-vertical;
//      .size(360px; 120px);
//      z-index: 2;
//      padding: 24px;
//      $media $tablet {
//      .size(180px;
//      60px);
//      padding: 12px;
//    }
//    }
//    #lang-select {
//      .float-left;
//      .center-vertical;
//      z-index: 2;
//      padding: 24px;
//      $media $tablet {
//      padding: 12px;
//    }
//      #lang-pl {
//        background-image: url(../images/pl.png);
//      }
//      #lang-ang {
//        background-image: url(../images/ang.png);
//        background-size: contain;
//      }
//      .lang {
//        border-radius: 5px;
//        .size(66px;
//        50px);
//        background-position: center;
//        $media $tablet {
//        .size(33px;
//        25px);
//      }
//      }
//    }
//  }
//}
//
//// hidde main menu
//#main-menu {
//  .invisible;
//  $media $tablet {
//  .block;
//}
//}
//
//.main-menu-content {
//  .float-right;
//  .center-vertical;
//  ul {
//    .list-style-none;
//    li {
//      .float-left;
//      .block;
//      a {
//        color: $menu-link-color;
//        font-size: 20px;
//        font-family: $font-family-secondary;
//        font-weight: 400;
//        padding: 10px 14px;
//        line-height: 20px;
//        .basic-transition;
//        &:hover {
//          color: $accent-color;
//        }
//        $media $tablet {
//        padding: 18px 22px;
//      }
//      }
//      i {
//        font-size: 14px;
//      }
//    }
//  }
//}
//
//// menu moblie
//.slicknav_menu {
//  position: fixed;
//  left: 0;
//  right: 0;
//  $media $tablet {
//  .invisible;
//}
//  i {
//    .invisible
//  }
//  ul {
//    .section-border-bottom;
//    box-shadow: 0 0 1px $basic-border-color;
//  }
//}