#contact{
  @extend %context_height;;
  background: url('../../images/contact.jpg') no-repeat;
  background-size: cover;

  #contact-wrapper{
    @extend %context_height;
    display: grid;
    grid-gap: 5px;
    width: 100vw;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

  }
}

#contact-form{
  display: grid;
  font-size: 21px;
  border-radius: 30px;
  border: 3px solid $basic-border-color;
  position: inherit;

  justify-content: center;
  grid-column: 2 / span 4 ;
  grid-row: 2 / span 4;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);

  background-color: rgba(0, 0, 0, 0.3);
  @extend %long-transition;


  .form-group {
    display: grid;
    padding: 1vh 20px;
    grid-template-rows: repeat(2, 1fr);


    label{
      grid-row: 1
    }

    input, textarea{
      padding: 5px;
      font-size: 25px;
      height: 100%;
      grid-row: 2
    }
  }

  .cantact-heading {
    padding-top: 20px;
    text-align: center;
    grid-column: 1 / span 6 ;
    grid-row: 1
  }
  .name{
    grid-column: 1 / span 3 ;
    grid-row: 2
  }
  .email{
    grid-column: 4 / span 6 ;
    grid-row: 2
  }
  .mail-content{
    grid-column: 2 / span 4 ;
    grid-row: 3 / span 2
  }


  textarea, input {
    //font
    font-size: 20px;
    color: white;
    font-weight: 100;
    //input style
    display: flex;
    border: none;
    border-radius: 15px;
    border-bottom: 3px solid $basic-border-color;
    background-color: rgba(90,90,90,0.2);
    width: 100%;
    //animation
    @extend %long-transition;
  }

  &:hover, &:focus{

    border: solid $accent_color;
    textarea, input{
      background-color: $accent-color-transparent;
      border-bottom: 3px solid $accent-color;
    }

  }
}
