@keyframes mobile-menu-slide-on {
  0% {
    transform: translateX(100vw);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes mobile-menu-slide-off {
  0% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(100vw);
  }
}

.main-menu-content {
  .slide-off{
    transition: opacity 0.25s ease;
    animation: mobile-menu-slide-off 0.4s;

  }
  .slide-on{
    transition: opacity 0.25s ease;
    animation: mobile-menu-slide-on 0.4s;
  }


  #mobile-menu {

    box-shadow: 0 0 10px #000;
    width: 50vw;
    height: 90vh;
    z-index: -10;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    background-color: $basic-background;
    left: 0px;
    padding: 4px 0px;
    ul {

      @media (min-width: $phone) {
        display: none;
      }
      li {
        width: 100%;

        @extend %basic-transition;
        &:hover {
          background-color: $menu-link-color;
          a {
            color: $accent-color;
          }
        }

        @extend %float-left;
        @extend %block;
        a {
          width: 100%;
          padding: 5px;
          color: $menu-link-color;
          font-size: 18px;
          font-family: $font-family-secondary;
          font-weight: 400;
          line-height: 20px;
          @extend %basic-transition;
          &:hover {
          }
          @media (min-width: $phone) {
            display: inline-block;
            padding: 18px 22px;
          }
        }
        i {
          font-size: 14px;
        }
      }
    }

  }
  #hamburger {
    @include size(70px, 60px);

    @media (max-width: $phone) {
      display: inline-block;
    }
    @media (min-width: $phone) {
      display: none;
    }
    .line{
      background-color: black;
      @include size(90%, 7px);
      margin: 0 auto;
      display: block;
      border-radius: 15px
    }
    #top-line{
      margin-top: 15px
    }
    #middle-line{
      margin: 7px auto
    }
    #bottom-line{

    }
  }


  .mobile-open{
    .line{
      background-color: black;
      @include size(90%, 14%);
      margin: 11% auto;
      display: block;
      border-radius: 15px
    }
    #top-line{

    }
    #middle-line{

    }
    #bottom-line{

    }
  }
}